
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend>Sign up</legend>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :profile_name %>

  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form-actions"><%= f.button :submit, "Sign up" %></div>
  </fieldset>
<% end %>
<div class="alert alert-info">
<%= render "devise/shared/links" %>
</div>